/*Fonts*/

@font-face {
  font-family: "opens";
  src: url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2);
}

/* Transitions */

.fade-enter {
  opacity: 0.05;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
/*  ------------------------------   */

/* Mobile */

.posts {
  display: flex;
  flex-direction: column;
}

.postItem {
  margin: 55px 15px 0 15px;
}

.postItem h1 {
  font: 1.063em "lato";
  color: #000;
  line-height: 1.313em;
  margin-bottom: 12px;
}

.postItem .uppercase {
  font: 0.625em lato;
  line-height: 22.8px;
}

.politics {
  color: #ff001f;
}

.tech {
  color: #4a90e2;
}

.science {
  color: #7cbb37;
}

.sports {
  color: #f5a623;
}
.photoArticle {
  margin-top: 8px;
  margin-bottom: 15px;
  max-width: 100%;
}

.author {
  font: italic 0.813em opens;
  color: #808080;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author img {
  border-radius: 100%;
  margin-right: 7px;
  width: 32px;
}

.content {
  font: 0.875em opens;
  color: #686868;
}
